/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 20px 0;
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25px;
      height: 20px;
    }
  
    
  
    .menu.open {
      display: flex;
      animation: slide-in 0.3s ease-in-out;
    }
  
    .menu.close {
      animation: slide-out 0.3s ease-in-out;
      display: none;
    }
  
    .menu li a {
      font-size: 1.2rem;
    }
  }
  
  /* Animations */
  @keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  
  @keyframes slide-out {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
  }
  